body {
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
  word-break: normal;
  color: #4d4e53;
  background-color: #fff;
  overflow: hidden;
}

.wrap .left-nav {
  width: 299px;
  -webkit-box-shadow: 4px 0 5px -5px #666;
          box-shadow: 4px 0 5px -5px #666;
}

.wrap .left-nav .logo {
  padding: 10px 0;
  text-align: center;
  border: 1px solid red;
}

.wrap .left-nav .logo h1 {
  font-size: 1.9rem;
  font-weight: 500;
  color: #000;
}

.wrap .left-nav nav ul {
  height: 100%;
  overflow: scroll;
  border: 1px solid blue;
}

.wrap .left-nav nav ul li {
  padding: 10px 30px;
  border-bottom: 1px solid #4d4e53;
}

.wrap .left-nav nav ul li a {
  color: #4d4e53;
  cursor: pointer;
}

.wrap .cont {
  position: fixed;
  padding: 20px;
  top: 0;
  left: 300px;
  height: 99%;
  overflow: scroll;
}

.wrap .cont section {
  margin-bottom: 30px;
}

.wrap .cont section header {
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #000;
}

.wrap .cont section article {
  padding-left: 20px;
}

.wrap .cont section article p {
  margin: 10px 0;
}

.wrap .cont section article ul {
  margin-bottom: 10px;
  padding-left: 80px;
}

.wrap .cont section article ul li {
  margin-bottom: 10px;
}

.wrap .cont section article code {
  display: block;
  margin: 10px;
  padding: 20px 15px;
  border-radius: 5px;
  background: #f7f7f7;
}
