@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  word-break: normal;
  background: #eee;
}

.btn, button {
  border: none;
  font-size: inherit;
  text-transform: uppercase;
  background: #f1c40f;
}

i {
  color: darkorange;
}

.wrap {
  margin: 0 auto;
  width: 75%;
}

.wrap .header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  top: 0;
  left: 0;
  height: 75px;
  background: #eee;
}

.wrap .header .logo {
  width: 60vw;
}

.wrap .header .logo img {
  max-width: 300px;
}

.wrap .header .nav {
  margin-right: 10px;
  width: 35vw;
}

.wrap .header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrap .cont {
  margin-top: 75px;
}

.wrap .cont .search {
  padding: 10px 0;
  text-align: center;
}

.wrap .cont .search form #email {
  display: block;
  margin: 20px auto 15px;
  max-width: 300px;
  font-size: inherit;
  border: 1px solid #717171;
  border-radius: 2px;
}

.wrap .cont .search form #submit {
  padding: 5px 5px 5px 15px;
  font-weight: 900;
}

.wrap .cont .features {
  margin-top: 100px;
}

.wrap .cont .features .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 70px auto;
}

.wrap .cont .features .grid .icon {
  width: 20vw;
}

.wrap .cont .features .grid .desc {
  width: 80vw;
}

.wrap .cont .youtube {
  text-align: center;
}

.wrap .cont .youtube iframe {
  max-width: 560px;
  width: 100%;
}

.wrap .cont .pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 70px;
  text-align: center;
}

.wrap .cont .pricing #pric-section {
  margin: 0 10px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 4px;
}

.wrap .cont .pricing #pric-section .level {
  padding: 15px 0;
  font-weight: 550;
  text-transform: uppercase;
  background-color: #ddd;
}

.wrap .cont .pricing #pric-section h2 {
  padding: 15px 0;
}

.wrap .cont .pricing #pric-section ol li {
  font-size: inherit;
  line-height: 1.8;
}

.wrap .cont .pricing #pric-section .select-button {
  margin: 30px 0 15px;
  padding: 10px 20px;
  border-radius: 2px;
}

.wrap .footer {
  margin: 35px auto 0px;
  padding: 20px 30px;
  text-align: right;
  background: #ddd;
}

.wrap .footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.wrap .footer ul li {
  padding: 0 10px;
  font-weight: 500;
}

.wrap .footer span {
  font-size: 0.9rem;
  color: #444;
}

@media (max-width: 767px) {
  body {
    min-width: 450px;
  }
  .features .grid .icon {
    min-width: 70px;
  }
  .features .grid .desc {
    min-width: 250px;
  }
  .cont .pricing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin: 0 auto;
    border: 3px solid red;
  }
  .cont .pricing #pric-section {
    margin: 0 0 40px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 1.2rem;
  }
}
