//font
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

//body
body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    word-break: normal;
    background: #eee;
}

//버튼 공통 설정
.btn, button {
    border: none;
    font-size: inherit;
    text-transform: uppercase;
    background: #f1c40f;
}

//i
i {
    color: darkorange;
}

//.wrap
.wrap {
    margin: 0 auto;
    width: 75%;
    //header start
    .header {
        position: fixed;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 40px;
        top: 0;
        left: 0;
        height: 75px;
        background: #eee;
        box-shadow: 0 4px 6px -5px #777;
        //header logo
        .logo {
            width: 60vw;
            //header logo img
            img {
                max-width: 300px;
            }
        }

        //header nav
        .nav {
            width: 35vw;
            //header nav ul
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
            }
        }
    }
    //header end

    //.cont start
    .cont {
        margin-top: 100px;
        //search start
        .search {
            padding: 10px 0;
            text-align: center;
            //search form
            form {
                //search form email
                #email {
                    display: block;
                    margin: 20px auto 15px;
                    max-width: 300px;
                    font-size: inherit;
                    border: 1px solid rgb(113, 113, 113);
                    border-radius: 2px;
                }
                //search form submit
                #submit {
                    padding: 5px 5px 5px 15px;
                    font-weight: 900;
                }
            }
        }
        //search end

        //features start
        .features {
            margin-top: 100px;
            //features grid
            .grid {
                display: flex;
                justify-self: space-around;
                align-items: center;
                margin: 70px auto;
                //features grid icon
                .icon {
                    width: 20vw;
                }
                //features grid desc
                .desc {
                    width: 80vw;
                }
            }
        }
        //features end
        //youtube start
        .youtube {
            text-align: center;
            iframe {
                max-width: 560px;
                width: 100%;
            }
        }
        //youtube end
        //pricing start
        .pricing {
            display: flex;
            justify-content: space-around;
            margin-top: 70px;
            text-align: center;
            //pricing section
            #pric-section {
                margin-right: 10px;
                min-width: 190px;
                width: 100%;
                border: 1px solid #000;
                border-radius: 4px;
                //pricing section level
                .level {
                    padding: 15px 0;
                    font-weight: 550;
                    text-transform: uppercase;
                    background-color: #ddd;
                }
                //pricing section h2
                h2 {
                    padding: 15px 0;
                }
                //pricing section ol
                ol {
                    //pricing section ol li
                    li {
                        font-size: inherit;
                        line-height: 1.8;
                    }
                }
                //pricing section select-button
                .select-button {
                    margin: 30px 0 15px;
                    padding: 10px 20px;
                    border-radius: 2px;
                }
            }
            #pric-section:last-child {
                margin-right: 0px;
            }
        }
        //pricing end
    }
    //cont end

    //footer start
    .footer {
        margin: 35px auto 0px;
        padding: 20px 30px;
        text-align: right;
        background: #ddd;
        //footer ul
        ul {
            display: flex;
            flex-direction: row;
            justify-content: right;
            //footer ul li
            li {
                padding: 0 10px;
                font-weight: 500;
            }
        }
        //footer span
        span {
            font-size: 0.9rem;
            color: #444;
        }
    }
    //footer end
}


//반응형
//768px 미만
@media (max-width:767px) {
    body {
        min-width: 450px;
    }

    .header {
        flex-direction: column;
        margin-left: -50px;
        min-width: 450px;
        width: 100%;
        text-align: center;
        .logo {
            min-width: 450px;
        }
        .nav {
            min-width: 400px;
            ul {
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    .cont {
        .features {
            .grid {
                .icon {
                    min-width: 70px;
                }
                .desc {
                    min-width: 250px;
                }
            }
        }

        .pricing {
            flex-direction: column;
            width: 80%;
            margin: 0 auto;
            #pric-section {
                margin-bottom: 40px;
            }
            #pric-section:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

//768 - 1024px - 현재 상태

//1024px 이상
@media (min-width:1024px) {
    body {
        font-size: 1.2rem;
    }
}